html {
    overflow-x: hidden;
}

#page {
    max-width: 1400px;  
    margin: auto;
    width: 94%;
}

body {
    margin: 0;
}

* {
    font-family: 'Raleway', sans-serif;
}


/* En-tête */


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header img {
    height: 40px;
    margin-top: -19px;
}


/* Barre de navigation */


header nav {
    margin-right: 10px;
}

header nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-right: -30px;
}

header nav ul li {
    padding: 40px 5px;
    margin-right: -4px;
    border-top: 3px solid #0065FC;
    border-color: transparent;
    font-size: 20px;
    text-align: center;
    width: 172px;
    display: flex;
    justify-content: space-around;
}

header nav ul li:hover,
header nav ul li.active {
    border-color: #0065FC;
}

header nav ul li:hover a,
header nav ul li.active a {
    color: #0065FC;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #000;
}


/* Barre de recherche */


h1 {
    font-weight: 700;
    font-size: 25px;
}

.barre_recherche form {
    width: auto;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    margin: 10px 0 10px 0;
}

.barre_recherche i:first-child {
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    color: #333333;
    border-radius: 15px 0 0 15px;
    font-size: 20px;
}

.recherche_desktop {
    width: auto;
    height: 100%;
    font-size: 16px;
    font-weight: bold;
    border-style: none;
    outline : 0px;
    padding-left: 15px;
    border-top: 2px solid #F2F2F2;
    border-bottom: 2px solid #F2F2F2;
}

.recherche_submit {
    width: 130px;
    height: 100%;
    padding: 0 15px;
    border-radius: 0 15px 15px 0;
    border-style: none;
    font-size: 16px;
    font-weight: bold;
    color: #FFF;
    background-color: #0065FC;
}

.only_mobile {
    display: none;
}


/* Filtres */


.filtres {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 10px 0;
    width: 100%;
}

.filtres h2{
    font-size: 20px;
}

.liste_filtres {
    width: 82%;
    margin-left: -48px;
}

.filtres ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    margin: 15px 0 10px 0px;
}

.filtres ul li {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 80%;
    border: solid 2px #ddd;
    border-radius: 20px;
    box-sizing: content-box;
    height: 42px;
    width: auto;
    padding-right: 20px;
    padding-left: 20px;
}

.filtres i {
    font-size: 18px;
    margin-right: 10px;
    color: #0065FC;
    position: relative;
    border-radius: 5px;
}

.filtres ul li:hover {
    cursor: pointer;
    background-color: #DEEBFF;
}


/* Info */


.info {
    display: flex;
    align-items: center;
    margin: 20px 0 -15px 0;
}

.info i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #0065FC;
    background-color: #ffffff;
    border-radius: 50%;
    border: solid 2px #f2f2f2;
    height: 10px;
    width: 10px;
    padding: 10px;
    margin-right: 15px;
}


/* Bloc principal */


.photos_Marseille {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 100%;
}


/* Bloc hébergement + populaire */


.photo_hebergements {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    width: 100%;
}


/* Bloc hébergement */


.hebergements_a_Marseille {
    border-radius: 10px;
    background-color: #F2F2F2;
    padding-top: 8px;
    width: 64%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

#lodging {
    margin-top: 10px;
    margin-left: 30px;

}

.hotel_Marseille {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 10px;
}

.hotel_texte {
    height: 199px;
    width: 28%;
    border-radius: 20px;
    box-shadow: 3px 3px 8px rgb(207, 207, 207);
    background-color: white;
    padding: 5px 9px 0px 4px;
}

.hotel {
    height: 63%;
    width: 100%;
    border-radius: 20px 20px 0 0;
    margin-left: 2.5px;
    object-fit: cover;
}

.prix_note {
    font-size: 12px;
    margin-left: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: -12px;
}

.prix_note h2 {
    font-size: 14px;
    margin-top: 14px;
    margin-bottom: 14px;
}

.prix_hotel {
    margin-top: -9px;
}

.etoiles {
    display: flex;
    justify-content: flex-start;
}

.etoile_bleu {
    color:#0065FC;
    display: flex;
}

.etoile_grise {
    color:#F2F2F2;
}

.afficher {
    font-weight: bold;
    font-size: larger;
    margin-left: 30px;
    margin-bottom: 25px;
}


/* Bloc Populaire */


.les_plus_populaires {
    border-radius: 10px;
    background-color: #F2F2F2;
    width: 32%; 
    display: flex;
    flex-direction: column;
}

.titre_et_logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 90%;
}

#logo_chart_line {
    color: #0065FC;
}

.populaires {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-bottom: 15px;
}

.photo_et_commentaire {
    height: 144px;
    width: 80%;
    padding: 6px 0 6px 6px;
    font-size: 12px;
    box-shadow: 3px 3px 8px rgb(207, 207, 207);
    border-radius: 20px;
    background-color: white;
    display: flex;
    margin-top: 30px;
    margin-bottom: 10px;
}

.lien_carte_populaire {
    display: flex;
    width: 100%;
}

.photo_populaires {
    height: 100%;
    width: 45%;
    border-radius: 20px 0px 0px 20px;
    object-fit: cover;
}

.commentaire_photo_populaire {
    display: flex;
    flex-direction: column;
    width: 48%;
    padding-left: 10px;
    justify-content: space-around;
}

.commentaire_photo_populaire h2 {
    font-size: 14px;
    margin-bottom: -56px;
    margin-top: -16px;
    width: 90%;
}

.commentaire_photo_populaire p {
    margin-top: 24px;
}

.commentaire_photo_populaire .etoiles {
    margin-bottom: -15px;
}


/* Bloc Activités */


.activites {
    display: flex;
    flex-direction: column;
    margin-top: 33px;
    width: 100%;
}

#activities {
    margin-top: 50px;
    margin-bottom: 5px;
}

.ensemble_photo_texte {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 100%;
}

.photo_texte {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 3px 3px 8px rgb(207, 207, 207);
    border-radius: 20px;
    width: 23%;
    height: 445px;
}

.lien_carte {
    width: 100%;
    height: 100%;
}

.photo_texte h2 {
    font-size: 18.7px;
    margin-top: 5px;
}

.photo_activites {
    width: 100%;
    height: 88%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.text {
    width: 90%;
    margin-left: 15px;
}


/* FOOTER */


.footer {
    margin: 0 auto;
    width: 94%;
    background: #F2F2F2;
    margin-top: 60px;
}

.ensemble_colonnes { 
    margin-left: -15%;
    display: flex;
    justify-content: space-evenly;
}

.colonne_footer {
    display: flex;
    flex-direction: column;
}

.sous_titre_footer {
    font-size: 18.7px;
    margin-bottom: 0px;
    margin-top: 18px;
    white-space: nowrap;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer li {
    margin-bottom: 10px;
}

/*------------------------ Tablette -------------------------*/



@media screen and (max-width: 992px) {


    /* Filtres */


    .liste_filtres {
        width: 92%;
        margin-left: -9px;
    }

    .filtres ul {
        margin-left: -30px;
        height: auto;
    }

    .filtres ul li {
        margin-left: 13px;  
    }


    /* Bloc hébergement + populaire */


    #lodging {
        margin-top: 27px;
    }


    .photo_hebergements {
        flex-direction: column;
    } 


    /* Bloc hébergement */


    .hebergements_a_Marseille {
        width: 100%;
        height: 666px;
    }
    .hotel_Marseille {
        margin-bottom: 19px;
    }

    .afficher {
        margin-bottom: 43px;
    }


    /* Bloc populaire */


    .les_plus_populaires {
        margin-top: 50px;
        width: 100%;
    }

    .titre_populaire {
        margin-left: -15px;
    }
    
    #logo_chart_line {
        margin-top: 13px;
        margin-right: 10px;
    }

    .populaires {
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }

    .photo_et_commentaire {
        width: 30%; 
    }

    .commentaire_photo_populaire {
        margin-top: -27px;
    }

    .commentaire_photo_populaire h2 {
        margin-top: 10px;
    }


    /* Activités */


    .ensemble_photo_texte {
        margin-top: 55px;
        margin-bottom: 80px;
    }
    
    .photo_texte {
        height: 280px;
        margin-top: -25px;
    }

    .photo_activites {
        height: 230px;
    }

    .photo_texte h2 {
        margin-top: 0;
    }
    

        /*  FOOTER  */


    .footer {
        margin-top: -20px;
    }

    .colonne_footer {
        margin-left: 15%;
    }

}

/*------------------------ Smartphone -------------------------*/


@media screen and (max-width: 768px) {
  

    #page {
        margin: 0px;
        width: 100%;
    }

    /* En-tête */


    .logo {
        margin-bottom: 27px;
    }

    header img {
        margin-top: 8px;
    }


    /* Barre de navigation */


    header {
        flex-direction: column;
    }

    header nav {
        margin-right: 0px;
        width: 100%;
    }

    header nav ul {
        width: 100%;
        justify-content: space-between;
    }

    header nav ul li {
        padding: 10px 0px;
        border-bottom: 3px solid #0065FC;
        border-top: none;
        border-color: transparent;
        width: 50%;
    }


    /* Barre de recherche */


    .home {
        height: auto;
        margin: 20px;
    }

    .barre_recherche { 
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .recherche_desktop {
        width: 81%;
    }

    .recherche_submit {
        width: 60px;
    }

    .hide_mobile {
        display: none;
    }

    .only_mobile {
        display: inherit;
    }


    /* Filtres */


    .filtres {
        align-items: baseline;
        flex-direction: column; 
    }

    .liste_filtres {
        width: 112%;
        margin-left: 29px;
    }

    .filtres ul {
        width: 86%;
        height: 65px;
        flex-wrap: wrap;
        margin-left: -35px;
        margin-bottom: 39px;
    }

    .filtres ul li {
        justify-content: start;
        margin-right: 27px;
        margin-left: -23px;
        width: 33%;
        font-size: 58%;
        padding-left: 11px;
        margin-bottom: 13px;
    }


    /* Bloc hébergement + populaire */


    .photo_hebergements {
        flex-direction: column-reverse;
    }


    /* Bloc populaire */


    .les_plus_populaires {
        margin-left: 2px;
        height: 685px;
        border-radius: 0%;
        margin-top: -14px;
    }

    .titre_et_logo {
        margin-top: 15px;
        margin-bottom: 11px;
    }

    .titre_populaire {
        margin-left: 0;
    }

    .populaires {
        flex-direction: column;
        margin-bottom: 83px;
    }

    .photo_et_commentaire {
        width: 90%;
        margin-top: 10px;
    }

    .photo_populaires {
        width: 40%;
    }

    .commentaire_photo_populaire h2 {
        font-size: 15px;
        margin-top: 14px;
    }

    .commentaire_photo_populaire p {
        font-size: 15px;
        margin-top: 40px;
    }

    .commentaire_photo_populaire .etoiles {
        margin-bottom: 32px;
    }

    .commentaire_photo_populaire {
        font-size: 13px;
        margin-bottom: -43px;
        width: 33%;
        margin-left: auto;
        margin-right: auto;
    }


    /* Bloc hébergement */ 
    

    .hebergements_a_Marseille {
        background-color: white;
        height: 1786px;
    }

    #lodging {
        margin-bottom: 25px;
    }

    .hotel_Marseille {
        flex-direction: column;   
        margin-bottom: 0;
    }

    .hotel_texte {
        width: 90%;
        height: 250px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }

    .hotel {
        height: 60%;
        display: flex;
        align-items: center;
    }

    .hotel_texte h2 {
        font-size: 17px;
        margin-top: 7px;
    }

    .prix_note {
        margin-top: 0;
        font-size: 14px;
    }

    .afficher {
        display: none;
    }


    /* Activités */


    #activities {
        margin-bottom: -25px;
        margin-left: 37px;
        width: 130px;
    }

    .ensemble_photo_texte {
        height: 1100px;
        flex-direction: column;
        margin-left: auto;
        margin-bottom: 5px;
    }

    .photo_texte {
        margin-bottom: 30px;
        width: 92%;
        height: 250px;
    }
        
    .photo_activites {
        height: 75%;
    }

    .text {
        margin-top: 12px;
    }
   

    /* FOOTER */


    .footer {
        width: 100%;
        margin-top: 50px;
    }

    .ensemble_colonnes {
        flex-direction: column;
        margin-left: 20px;
    }

    .colonne_footer {
        margin-left: 20px;
    }
}